@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
/* @import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities"; */
/* $all-colors: map-merge-multiple($blues, $indigos, $purples, $pinks, $reds, $oranges, $yellows, $greens, $teals, $cyans);
$utilities: map-merge(
  $utilities,
  (
    "color": map-merge(
      map-get($utilities, "color"),
      (
        values: map-merge(
          map-get(map-get($utilities, "color"), "values"),
          (
            $all-colors
            ),
            ),
            ),
            ),
            )
            ); */      
$custom-theme-colors: (
  "purple": #5e17eb,
  "orange": #e7380f,
  "gray": #707070,
  "gray-store": #7a7a77,
  "yellow": #f49f0a,
  "green": #50C878,
  );
$custom-font-sizes: (
  "store-size": 14px,
  "footer": 12px,
  );
  /* $max-75: max-width */
  $navbar-light-active-color: $purple;
  $input-focus-border-color: $purple;
  $theme-colors: map-merge($custom-theme-colors,$theme-colors);
  $font-sizes: map-merge($custom-font-sizes,$font-sizes);

  @import "../node_modules/bootstrap/scss/bootstrap.scss";
  
  /* @import "../node_modules/bootstrap/scss/utilities/api"; */
//   .btn-outline-purple {
// 	border: 1.5px solid #5e17eb;
// 	border-radius: 5px;
// 	-webkit-text-fill-color: #5e17eb;
// 	cursor: pointer;
// 	display: flex;
// 	text-decoration: none;
// 	justify-content: center;
// 	padding: 6px;
// }
//  .btn-outline-purple:hover, .btn-outline-purple:active {
// 	background-color: #5e17eb;
// 	-webkit-text-fill-color: #ffffff;
// }