@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
::selection {
  color: var(--bs-white);
  background: var(--bs-purple);
}
section {
	overflow: hidden;
}
#coupom-header::selection {
	color: var(--bs-purple);
	background: var(--bs-white);
}
.contactUsSection::selection, .link-purple::selection {
	background-color: var(--bs-orange);
}
.social-media {
	cursor: pointer;
}
.btn-outline-orange:hover {
	color: var(--bs-white);
}
#searchForm {
	min-width: 26%; 
	max-width: 34%;
}
#nav {
	z-index: 3;
	margin-bottom: 100px;
}
.offcanvas-header {
	padding: 1rem 0 1rem;
}
.border-store:hover, .border-dishes:hover {
	border: 0.5px solid rgba(112, 112, 112, 0.3);
}
.border-store, .border-dishes {
	border: 0.5px solid transparent;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dish-img {
	object-fit: cover;
}
.col-auto {
	margin: 0;
	padding: 0;
}
.card-body-w {
		margin-top: 15px;
		min-width: 230px;
		max-width: 300px;
		margin-right: 0;
		padding-right: 0;
}
/* carousel responsive */
@media screen and (min-width:768px) {
	.carousel-inner {
		display: flex;
	}
	.carousel-item {
		display: block;
		margin-right: 1%;
		flex: 0 0 calc(100%/2.5);
	}
	.carousel-img:hover {
		cursor: pointer;
		position: relative;
		display: block;
		-ms-transform: scale(1.02); /* IE 9 */
		-webkit-transform: scale(1.02); /* Safari 3-8 */
		transform: scale(1.02); 
	}
	#shipping {
		justify-content: start;
		margin-left: 17px;
	}
}
@media screen and (min-width:992px) {
	.carousel-inner {
		display: flex;
	}
	.carousel-item {
		display: block;
		margin-right: 1%;
		flex: 0 0 calc(100%/3.5);
	}
	.store-dish-w {
		max-width: 425px;
	}
	#offcanvas-coupom {
		height: 50vh;
	}
	.first-item {
		margin-left: 100px;
	}
	.banner {
		width: 100%;
		height: 250px;
		object-fit: cover;
		margin-top: 45px;
		border-radius: 4.5px;
	}
}
@media screen and (min-width:1200px) {
	.footer-body {
		padding: 0 10% 0 10%;
	}
	.body-section {
		margin: 0 200px 0 200px;
	}
}
.content-w {
	min-width: 200px;
}
.store-body-w {
	width: auto;
}
/* store width responsive on mobile */
@media screen and (max-width: 992px){
	.store-body-w, .store-dish-w {
		width: 45%;
	}
	.banner {
		width: 100%;
		height: 100%;
		object-fit: fill;
	}
}
@media screen and (max-width: 767px){
	header {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.store-body-w, .store-dish-w{
		width: 85%;
	}
	#restaurantes {
		justify-content: start;
	}
	.content-w {
		min-width: 160px;
	}
	.nav-link {
		margin-inline: 3px;
	}
	#offcanvas-coupom {
		height: 100vh;
		width: 100vw;
	}
	.text .actived {
		background-color: var(--bs-purple);
	}
	.body-section {
		padding-bottom: 100px;
	}
	#shipping {
		justify-content: center;
	}
}
.offcanvas {
	z-index: 5;
}
.carousel-img {
	max-width: 100%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.img-wrapper {
  padding: 1%;
	border-radius: 17px;
	z-index: 1;
}
.carousel-inner{
	padding: 0;
	margin: 1rem 0 0 0;
}
.card{
	box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
}
.carousel-light{
	background-color: #575757;
	width: 6vh;
	height: 6vh;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}
.carousel-dark {
	background-color: #cacaca;
	filter: invert(1);
	width: 6vh;
	height: 6vh;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
}